@import "./variables";
@import './mixins';

@font-face {
    font-family: 'AveNext';
    src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'AveNext';
    src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'AveNext';
    src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
    font-weight: bolder;
}