@import "./variables";
@import './mixins';

@font-face {
    font-family: 'AveNext';
    src        : url(../assets/Font/AvenirNextLTPro-Regular.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'AveNext';
    src        : url(../assets/Font/AvenirNextLTPro-Demi.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'AveNext';
    src        : url(../assets/Font/AvenirNextLTPro-Bold.otf);
    font-weight: 900;
}