//Mixins:
@mixin img-style {
    margin: 1rem 0;
    width: 100%;

}

@mixin wrapper() {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}

// @mixin photos-grid($direction: row) {
//     display: flex;
//     flex-direction: $direction;
//}

@mixin photos-grid() {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}


@mixin btn-style() {
    background-color: $dark-btn-bg;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    color: white;
    text-transform: uppercase;
    height: 52px;
    font-weight: 100;

    &:hover {
        background-color: black;
    }
}




// DESKTOP screen sizes are defined at 1280px, but are applied to screen sizes 1280px and greater.
// TABLET screen sizes are defined at 768px, but are applied to screen sizes from 768px to 1279px
//MOBILE screen sizes are defined at 320px, but are applied to screen sizes 767px and below


@mixin breakpoint($point) {
    @if $point==tablet {
        @media screen and (min-width: 768px) {
            @content;
        }
    }

    @else if $point==desktop {
        @media screen and (min-width: 1280px) {
            @content;
        }
    }
}