@import "./partials/global";

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "AveNext", Arial, Helvetica, sans-serif;
    font-weight: 100;
}

body {
    text-rendering: optimizeSpeed;
}

img,
picture {
    max-width: 100%;
    display: block;
}

.wrapper--header {
    width: 100%;
    background: $background-color;
}

.hero {
    background-image: url("../assets/Images/hero-bio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.navbar {
    background-color: $background-color;
    height: $nav-height;
    padding-top: 20px;

    @include breakpoint(tablet) {
        display: flex;
        align-items: center;
        padding-top: 0;
        gap: 3rem;
    }


    &__logo {
        width: 100%;

        @include breakpoint(tablet) {
            max-width: fit-content;
        }

    }



    &__img {
        margin: 0 auto;

        @include breakpoint(tablet) {
            margin-left: 2rem;
        }
    }

    &__pages {
        width: 100%;
        height: calc($nav-height - 39px);

        @include breakpoint(tablet) {
            width: 300px;
            height: $nav-height;
        }
    }

    &__list {
        display: flex;
        list-style-type: none;
        height: 100%;
        gap: 10px;


        justify-content: space-around;
        align-items: center;

    }

    &__item {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__link {
        text-decoration: none;
        font-weight: 100;
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    .active {
        border-bottom: 3px solid #fff;

        & a {
            font-weight: 500;
        }
    }
}




.hero {
    display: flex;
    align-items: center;
    height: 280px;

    position: relative;

    @include breakpoint(tablet) {
        height: 600px;
    }

    &__title {
        color: white;
        font-weight: 500;
        font-size: 30px;

        padding-left: 2rem;
        z-index: 1;

        @include breakpoint(tablet) {
            font-size: 80px;
        }
    }

    &__shade {
        position: absolute;
        top: 0;
        left: 0;

        right: 0;
        bottom: 0;


        background-color: black;
        opacity: .3;
    }
}

.wrapper {
    // padding: 0 1.3rem;
    width: 93%;
    margin: 0 auto;

}

.about {
    padding-top: 2rem;



    &__title {
        font-weight: 500;
        font-size: 1.5rem;
        margin-bottom: 1rem;

        @include breakpoint(tablet) {
            margin-left: 2rem;
            font-size: 2rem;
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
    }

    &__quote {
        margin-bottom: 2rem;

        @include breakpoint(tablet) {
            max-width: 80%;
            margin: auto;
        }
    }

    &__quote__text {
        line-height: 2rem;
        font-weight: 400;

        @include breakpoint(tablet) {
            font-size: 1.6rem;
            line-height: 2.3rem;

        }

        @include breakpoint(desktop) {
            display: block;
            max-width: 70%;
        }

    }

    &__author {
        padding-top: 1rem;
        font-style: normal;
    }

    &__img {
        aspect-ratio: 2/1.1;
        object-fit: cover;
        margin-bottom: 1rem;

        @include breakpoint(tablet) {
            max-width: 80%;
            margin: auto;
            margin-bottom: 2rem;
        }
    }

    @include breakpoint(tablet) {
        margin-bottom: 2rem;
    }


    @include breakpoint(desktop) {
        margin-bottom: 4rem;
    }
}




.bio {
    @include breakpoint(tablet) {
        max-width: 80%;
        margin: auto;
    }

    &__subtitle {
        font-weight: 400;
        margin-bottom: 1rem;

        @include breakpoint(tablet) {
            font-weight: bold;
            font-size: 1.4rem;
        }

        @include breakpoint(desktop) {
            margin-bottom: 2rem;
            font-size: 1.8rem;
            font-weight: 100;
        }
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        font-weight: 100;
        line-height: 1.5rem;

        @include breakpoint(desktop) {
            line-height: 2rem;
            margin-bottom: 2rem;
        }

    }

    &__paragraph {
        margin-bottom: 1rem;
        flex-basis: 100%;

        flex-shrink: 1;
        flex-grow: 1;

        @include breakpoint(tablet) {
            flex-basis: 280px;
            flex-grow: 1;
        }
    }
}

.wrapper--gallery {
    background-color: #ebebeb;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.gallery {

    max-width: 1024px;
    width: 90%;
    margin: 0 auto;

    &__title {
        padding: 1rem 0;
        font-size: 2rem;
        font-weight: 500;
    }

    &__images-list {
        @include photos-grid();
        display: flex;
        max-width: 1024px;
        margin: 0 auto;
    }

    &__img {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        img {
            margin: 0;
        }

        @include breakpoint(tablet) {
            flex-basis: 30%;
        }

        @include breakpoint(desktop) {
            flex-basis: 30%;
            max-width: 400px;
        }
    }

    @include breakpoint(desktop) {
        max-width: 80%;
        margin-bottom: 2rem;
    }
}

.wrapper--footer {
    background-color: $background-color;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: white;

    position: relative;



    &__title {
        font-weight: 100;

        @include breakpoint(desktop) {
            font-size: 2rem;
        }
    }

    &__links {
        @include photos-grid;
        gap: 30px;
        margin: 2rem 0;

        @include breakpoint(tablet) {
            max-width: fit-content;
            margin: 0;
            align-items: center;
        }

        @include breakpoint(desktop) {
            gap: 50px;
            margin-left: 20px;
        }

    }

    &__icon {
        @include breakpoint(desktop) {
            transform: scale(1.4);
        }
    }

    &__info {
        font-weight: 100;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    &__email {
        text-decoration: none;
        font-size: 14.14px;
        color: white;
    }

    &__col {
        flex-basis: 230px;
        margin-bottom: 1rem;

        @include breakpoint(desktop) {
            flex-basis: 30%;
        }

    }

    &__contacts {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-shrink: 1;
        flex-grow: 0;

        @include breakpoint(tablet) {
            margin-bottom: 1rem;
        }

        @include breakpoint(desktop) {
            max-width: 70%;
            line-height: 1.35rem;
        }
    }

    &__logo {
        margin-bottom: 1.4rem;

        @include breakpoint(tablet) {
            display: none;
        }
    }

    &__copyrights {
        font-weight: 100;
        font-size: 12px;
        text-align: start;
    }

    &__media {
        @include breakpoint(tablet) {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            gap: 2rem;
        }
    }

    &__address {
        font-style: normal;
    }

    &__logo--mobile {
        @include breakpoint(tablet) {
            position: absolute;
            right: 1rem;
            top: 0;
            padding: 2rem 1rem 0 0;
            display: block;
        }

        @include breakpoint(desktop) {
            & img {
                width: 150px;
            }
        }
    }

    @include breakpoint(desktop) {
        max-width: 80%;
    }
}

.hide {
    display: none;

    @include breakpoint(tablet) {
        display: block;
    }
}


// Comments Section Style:
.comments {
    width: 90%;
    max-width: 1024px;

    margin: 0 auto;

    &__form-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 1.25rem;

        padding-bottom: .45rem;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 1rem;
    }


    &__title {
        font-size: 2rem;
        font-weight: 500;
        padding-top: 2rem;
        margin-bottom: 1.5rem;
    }


    &__form {
        flex-grow: 100;
        margin-bottom: 1rem;
    }

    &__image-col {
        align-self: flex-start;
        padding-top: 1.15rem;
    }

    &__user-image {
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
        object-position: 30% center;
        margin: 0 auto;
    }

    &__inputs-col {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__input-group {}

    &__input-label {
        display: block;
        margin-bottom: .30rem;
        font-size: 0.88rem;
        font-weight: 100;
        color: $gray-text;
        text-transform: uppercase;
    }

    &__input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px lightgray solid;
        padding: 0 1rem;
        font-size: 1rem;
        font-family: "AveNext";


        &::placeholder {
            color: $dark-btn-bg;
            font-weight: 100;
        }
    }

    &__comment-input {
        height: 180px;
        resize: none;
        padding: 1rem;
        font-size: 1rem;
        font-family: AveNext;

        &::placeholder {
            color: $dark-btn-bg;
            font-weight: 100;
        }
    }

    &__comment-btn {
        background-color: $dark-btn-bg;
        border: none;
        border-radius: 5px;
        font-size: 1.4rem;
        color: white;
        text-transform: uppercase;
        height: 52px;
        font-weight: 100;
    }

    &__container {
        width: 100%;
        max-width: 1024px;

        margin: 0 auto;
    }

    &__comment-box {
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }

    &__name-and-date {
        display: flex;
        justify-content: space-between;
    }

    &__username {
        font-weight: 900;

    }


    //! Comments section style:
    &__comment {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #e1e1e1;
    }

    &__comment-image-col {
        height: 50px;
        width: 50px;
        max-width: fit-content;
        // margin-left: auto;
    }

    &__comment-col {
        max-width: 100%;
        min-width: 80%;
        margin-right: auto;
    }

    &__comment-user-image {
        min-width: 50px;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
        object-position: 30% center;
    }

    &__comment-username-and-date {
        display: flex;
        justify-content: space-between;
        padding-bottom: .75rem;
    }

    &__comment-username {
        font-weight: 400;
    }

    &__comment-date {
        color: $gray-text;
    }
}